body {
    font-family: 'Roboto', sans-serif;
    margin: 0rem;
}
header {
    margin: 1rem auto;
    text-align: center;
}
header .logo {
    display: flex;
    justify-content: center;
}
header .logo img {
    max-width: 100px;
}
header .tagline {
    background-image: url('images/Large-3-Topping.png');
    background-repeat: no-repeat;
    background-position: right;
    padding: 4rem 0rem;
}
header .tagline h2 {
    color: #c50000;
    padding: 1rem;
    margin: 0rem;
    text-align: left;
    background-color: #ffffff;
}
h3#subheader {
    text-align: center;
}
ul {
    list-style: none;
    padding: 0rem;
    width: 100%;
}
li {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}
img {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
}
footer {
    display: flex;
    text-align: center;
    flex-direction: column;
}
@media screen and (min-width: 670px) {
    header .tagline {
        background-size: contain;
    }
    header .tagline h2 {
        background-color: transparent;
    }
}
@media screen and (min-width: 1024px) {
    header .logo {
        justify-content: left;
    }
    header .tagline {
        background-size: cover;
    }
    header .tagline h2 {
        font-size: 1.75rem;
    }
    li {
        flex-direction: row;
        justify-content: center;
    }
    img {
        max-width: 300px;
    }
    .pizza-info {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
}
@media screen and (min-width: 1500px) {
    header .tagline h2 {
        font-size: 2.25rem;
    }
}